{% extends 'base.html.twig' %}

{% block title %}New Conges{% endblock %}

{% block body %}
    <h1>Create new Conges</h1>

    {{ include('conges/_form.html.twig') }}



    {# <button><a href="commentaire/new">Commentaire</a></button> #}


    <a href="{{ path('app_conges_index') }}">back to list</a>
{% endblock %}
