<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirection www vers non-www
    RewriteCond %{HTTP_HOST} ^www\.taylan-ozgul\.com [NC]
    RewriteRule ^(.*)$ https://taylan-ozgul.com/$1 [L,R=301]

    # Redirection HTTP vers HTTPS
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Autres règles de réécriture de Symfony (ne modifiez pas cette partie)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>


# Protéger le fichier .htaccess lui-même
<Files .htaccess>
    Order allow,deny
    Deny from all
</Files>

# Ajouter une protection contre XSS et d'autres attaques
Header set X-XSS-Protection "1; mode=block"
Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "DENY"

# Ajouter la prise en charge de la compression gzip
<IfModule mod_deflate.c>
    <FilesMatch "\.(js|css|html|svg|txt)$">
        SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>
